In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [ ]:
def topjobs_scraper(url) :
  page=requests.get(url)
  soup=BeautifulSoup(page.text,'html')
  table_list=[]
  table=soup.find('table',{'class':'tbldata_2 vbfa-table'})
  rows=table.find_all('tr')
  for row in rows:
    table_data=row.findAll('td')
    for observation in table_data:
      print(observation.text)
      table_list.append(observation.text.strip())
  return table_list

In [ ]:
data=topjobs_scraper('https://www.topjobs.lk/applicant/vacancybyfunctionalarea.jsp?FA=SDQ')

In [ ]:
df=pd.DataFrame(data)
print(df.head())
df.to_csv('topjobs_ITjobs.csv')

                                                   0
0                                                  1
1                                            1148207
2  0001148207\n0000000492\n0000000375\nSenior Sof...
3            Location- Nawala\r\nworking Mode-Hybrid
4                                    Wed Nov 08 2023